
@{
    ViewBag.Title = "Forgot Password";
}

@if (!Request.IsAuthenticated)
{

    {
        Layout = null;
    }




@*<h2>Forgot Password</h2>*@

@*@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <hr />
        <div class="text-success">
            @ViewBag.Message
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Email ID</label>
            @Html.TextBox("EmailID", "",new { @class="form-control"})
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-success" />
            </div>
        </div>
    </div>
}*@

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Al Rehman Laboratory</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link href="~/Content/style1.css" rel="stylesheet" />

</head>
<body>
    <div class="wrapper">
        <div class="login">
            <p class="title">Forgot Password</p>
           @using (Html.BeginForm())
           {
            <div class="form-horizontal">
                @if (ViewBag.Message != "Account not found")
                {
                <div class="text-danger" style="color:forestgreen;font-size:11.65px;">@ViewBag.Message <p style="height:0px;"> &nbsp;</p>
                </div>
                }
                else
                {
                    <div class="text-danger" style="color:red;">@ViewBag.Message</div>


                }
                <div class="form-group">
                    <label class="control-label col-md-2">Email ID</label>
                    @Html.TextBox("EmailID", "", new { @class = "form-control" })
                </div>
                @*<div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-success" />
                    </div>
                </div>*@
            </div>

                <button>
                    <i class="spinner"></i>
                    <span class="state">Submit</span>
                </button>

           }



        </div>
        <footer class="footer"><a target="_blank" href="alrahman.swaatech.com">Al Rehman Pharmacy</a></footer>
    </div>


    @*<script>
            var working = false;
            $('.login').on('submit', function (e) {
                e.preventDefault();
                if (working) return;
                working = true;
                var $this = $(this),
                  $state = $this.find('button > .state');
                $this.addClass('loading');
                $state.html('Authenticating');
                setTimeout(function () {
                    $this.addClass('ok');
                    $state.html('Welcome back!');
                    setTimeout(function () {
                        $state.html('Log in');
                        $this.removeClass('ok loading');
                        working = false;
                    }, 4222);
                }, 3222);
            });

        </script>*@
</body>
</html>

}

else

{
    <div class="main-content" id="content">
        <h2>Change Password </h2>

        @using (Html.BeginForm())
        {
        <div class="form-horizontal">
            <hr />
            <div class="text-success">
                @ViewBag.Message
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Email ID</label>
                @Html.TextBox("EmailID", @HttpContext.Current.User.Identity.Name, new { @class = "form-control" ,   @readonly = "readonly" })
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-success" />
                </div>
            </div>
        </div>
        }

    </div>
}
        